<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.SysUserDao">
    <select id="queryById" resultType="SysUser">
        select id,
          user_name userName,
          user_password userPassword,
          user_email userEmail,
          create_time createTime
        from sys_user
        where id = #{id}
    </select>
    <select id="queryById2" resultType="SysUser">
        select * from sys_user where id = #{id}
    </select>
    <select id="queryAll" resultType="SysUser">
        select id,
        user_name userName,
        user_password userPassword,
        user_email userEmail,
        create_time createTime
        from sys_user
    </select>

</mapper>
